
figure {
    margin: 0;
}

h1 {
    color: var(--lightest);
    margin: 2em 1em 0.3em 1em;
    max-width: 40rem;
}

h2 {
    font-size: 2em;
    margin: 4em 3em 1em 3em;
}

p {
    max-width: 45rem;
    margin: 1em 4.5em;
}
.left-column {
    display: flex;
    flex-direction: column;
    width: fit-content;
}
.pola-pola figure {
    max-width: 500px;
}

.pola-pola.prvi {
    margin-top: 0px;
}
.prvi h2 {
    margin-top: 1rem;
}
.odmaknut {
    margin: 1em 3em;
}