body {
    width: 100vw;
}
figure {
    margin: 0;
}

h1 {
    color: var(--lightest);
    margin: 220px 1em 20px max(100px, 10vw);
    max-width: 50rem;
    line-break: strict;
    min-width: 40rem;
}

h2 {
    font-size: 2em;
    margin: 20px 20px 0 max(100px, 10vw);
    color: var(--light);
}

p {
    max-width: 45rem;
    margin: 20px 20px 0 max(100px, 10vw);
}
.rightp {
    margin: 20px max(100px, 10vw) 0 20px;
}

.left-column {
    display: flex;
    flex-direction: column;
    width: fit-content;
}
.pola-pola figure {
    max-width: min(600px, 45%);
}
.pola-pola{align-items: center}

.pola-pola.prvi {
    margin-top: 0px;
}
.prvi h2 {
    margin-top: 40px;
}
.odmaknut {
    margin: 1em max(100px, 10vw);
}

.hover-image {
    position: relative;
    transition: all 1s;
}

.hover-image:hover img, .hover-image:hover video {
    filter: blur(3px) brightness(0.9);
}
.hover-image img, .hover-image video{
    transition: all 0.3s;
    filter: blur(0px) brightness(1);
}

.hover-image span {
    color: var(--lightest);
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    transition: 0.3s all;
    z-index: 2;
}

.hover-image:hover span {
    opacity: 1;
    transform: translate(-50%, -50%);
}
span.wide {
    width: 80%;
}
.kratkip {
    max-width: 25rem;
}

.ketldole {
    margin-top: 10%;
}

.bijelilogo {
    filter: brightness(0) invert(1);
}

/* Telefon */
@media only screen and (max-width: 900px) {
    .scroll-indicator-controller {
        display: none;
    }
    .pola-pola {
        flex-direction: column;
        align-items: normal;
    }

    .pola-pola div {
        margin: 0 auto ;
        max-width: 100%;
    }
    .pola-pola:nth-child(4n){
        flex-direction: column-reverse;
        align-items: end;
    }
    .pola-pola figure {
        max-width: min(500px, 90%);
        padding-top: 40px;
    }
    .pola-pola.prvi figure {
        padding-top: 0;
    }



    h1 {
        margin: calc(150px - 1em) 1em 20px max(40px, 5vw);
    }
    p, h2 , .kratkip {
        max-width: 40rem;
    }
    h2 {
        font-size: 1.5em;
    }
    .rightp, h2, .odmaknut , p {
        margin: 20px max(40px, 5vw) 0 max(40px, 5vw);
    }
    .odmaknut div >* {
        margin-left: 0;
    }
    .odmaknut figure {
        margin: 0 auto;
    }

    .ketldole {
        margin-inline: auto;
        margin-top: -200px;
        padding-top: 0;
    }


}
