
main {
    padding-top: 50px;
}

h1 {
    max-width: 30rem;
    margin: 100px 0 30px 0;
}

h2 {
    font-size: 2em;
    margin:30px 0;
    color: var(--orange);
}

p {
    max-width: 45rem;
    margin: 30px 0;
}
.left-column {
    display: flex;
    flex-direction: column;
    width: fit-content;
}
@media only screen and (min-width: 800px) {
    .pola-pola figure {
        max-width: min(500px, 40vw);
    }

    .pola-pola figure:nth-child(even), .pola-pola div:nth-child(even) {
        margin: 20px max(100px, 10vw) 20px 10px;
    }

    .pola-pola figure:nth-child(odd), .pola-pola div:nth-child(odd) {
        margin: 20px 10px 20px max(100px, 10vw);
    }

    .pola-pola p {
        max-width: 30rem;
    }
}
.pola-pola {
    align-items: center;
}


/* Telefon */
@media only screen and (max-width: 800px) {
    .pola-pola {
        flex-direction: column;
    }

    .pola-pola >* {
        max-width: 100%;
    }
    .pola-pola:nth-child(2n){
        flex-direction: column-reverse;
    }

    .pola-pola h2, .pola-pola p, .pola-pola figure {
        margin: 20px max(100px, 10vw);
    }
}

#kruggif {
    margin: 20px;
    margin-right: max(100px, 10vw);
}

.fullscreen {
    min-height: 110vh;
}