
main {
    padding-top: 50px;
}

figure {
    margin: 4em auto;
}

h1 {
    margin: 2em 1em 20px 80px;
    max-width: 30rem;
}

h2 {
    font-size: 2em;
    margin: 4em 3em 20px 80px;
}

p {
    max-width: 45rem;
    margin: 20px 80px;
}
.left-column {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.pola-pola figure {
    max-width: 400px;
}
.pola-pola {
    align-items: center;
}
article {
    margin-bottom: 100px;
}