:root{
    --lightest: #fffaf3;
    --light: rgba(233, 168, 138);
    --medium: #C0685F;
    --dark: #671B11;
    --orange: #FC7766;
}

@font-face {
    font-family: headers;
    src: url(./po.ttf);
}


@font-face {
    font-family: rest;
    src: url(./nu.ttf);
}

h1, h2, h3, title {
    font-family: headers;
}



.orange_dot {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background: var(--orange);
    margin: 10px auto !important;
}

.white_dot {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background: var(--lightest);
    margin: 10px auto!important;

}

.light_bgd {
    background: var(--light);
}
body {
    margin: 0;
    background: var(--lightest);
    color: var(--dark);
    overflow-x: hidden;
    font-family: rest;
}

img {
    width: 100%;
    height: auto;
}

.flex-center-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.flex-left-column {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
}


.fullscreen {
    min-height: 100vh;
}

a {
    color: var(--dark);
    text-decoration: none;
}

span.icon {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: absolute;
    left: 0;
    padding: 0.2em 0.3em 0.3em 0;
    display: flex;
    transition: all 0.3s;
}
span.icon.transparent {
    opacity: 0;
}

nav {
    position: fixed;
    top: 10px;
    left: 0;
    width: 100vw;
    z-index: 10;
}
nav span.inner {
    transform: translateY(0);
    transition: transform 0.6s;
}
nav:hover span.inner {
    transform: translateY(-100%);
}
nav:hover span.icon.bijelilogo {
    /* effect na ikonicu */
    filter: none;
}
nav:hover section.dropdown {
    transform: translateY(-10px);
}
nav:hover ul li {
    transform: translateY(0);
    opacity: 1;
}
nav > a {
    display: inline-flex;
    height: 50px;
    overflow: hidden;
    flex-direction: column;
    font-size: 2.5rem;
    justify-items: center;
    line-height: 1.2em;
    position: relative;
    padding-left: 80px;
    margin-left: max(50px, 10vw);
    z-index: 5;
    font-family: headers;
}
section.dropdown {
    position: absolute;
    z-index: 1;
    background: rgba(253, 249, 242, 0.8);
    top: 0;
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    transform: translateY(-120%);
    transition: transform 0.6s;
}
nav ul {
    list-style-type: none;
    margin-bottom: 5vh;
    margin-left: calc(35px + max(50px, 10vw));
}
nav ul li {
    opacity: 0;
    margin: 10px;
    transition: transform 0.5s, opacity 0.5s;
    transition-delay: 0.3s;
    transform: translateY(40px);
}
nav ul li:nth-of-type(1) {
    transition-delay: 0.2s;
}
nav ul li:nth-of-type(2) {
    transition-delay: 0.3s;
}
nav ul li:nth-of-type(3) {
    transition-delay: 0.4s;
}
nav ul li:nth-of-type(4) {
    transition-delay: 0.5s;
}
nav ul li a {
    font-size: 1.5rem;
}

/* page styling */

main {
    z-index: 0;
    position: relative;

}
h1 {
    font-size: 4em;
    color: var(--orange);
    line-height:1em;
}
h2 {
    font-size: 4em;
}

p {
    font-size: 18px;
    max-width: 50rem;
    margin: 3em 0;
    line-height: 1.4rem;
}
.center_text { text-align: center; }
.left_text { text-align: left; }
.right_text { text-align: right; }
.white_text {color: var(--lightest)}

.center_div {margin: 10px auto}

footer figure {
    position: relative;
    z-index: 10;
    max-width: 40px;
    margin: 30px auto;
}

.pola-pola {
    margin-top: -1em;
    display: flex;
    justify-content: space-between;
}
.pola-pola >* {
    max-width: 55%;
}

.fader {
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.7s;
}

.fader.show {
    opacity: 1;
    transform: translateY(0);
}

.malo_kasnija_animacija {
    transform: scale(0);
    transition: all 0.3s ;
}

.malo_kasnija_animacija.pop {
    transform: scale(100%)
}


/* Tablet */
@media only screen and (max-width: 1000px) {
    p {
        font-size: 20px;
        max-width: 40rem;
        line-height: 1.2rem;
    }
    h1 {
        font-size: 2.5em;
        color: var(--orange);
        line-height:1em;
    }
    h2 {
        font-size: 1em;
    }

    section.dropdown {
        height: max(50vw, 400px );
    }
    .odmaknut {
        margin: 3em max(2em, 5vw);
    }

    .pola-pola {
        margin-top: 0;
        display: flex;
        justify-content: space-around;
    }
}
@media only screen and (max-width: 600px){
    h1 {
        font-size: 2em;
    }
}
@media only screen and (max-width: 500px) {
    p {
        font-size: 15px;
    }

    nav > a {
        padding-left: 50px;
        margin-left: max(30px, 10vw);
    }
    nav ul {
        margin-left: calc(max(50px, 10vw));
        margin-bottom: 120px;
    }
}