img {
    width: 100%;
    height: auto;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 90vw;
    height: 100px;
}
#nav_logo{
    margin: 0;
    padding: 0;
    height: 100px;
    width: 200px;
}

.flex-center-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
}

#side_nav{
    position: fixed;
    right: 0;
    top: 0;
    width: 30vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 20%;
    padding-bottom: 30%;
    background: white;
    margin-right: -30vw;
    transition: all 0.3s;
}

#side_icon:hover #side_nav{
    margin-right: 0px;
}

#side_x{
    position: absolute;
    right: 10px;
    top: 10px;
}

main{
    margin-top: 100px;
}

#landing_page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#landing_page p{
    max-width: 30rem;
}
.fullscreen{
    height: 100vh;
    width: 98vw;
}

#landing_page h1{
    animation: 0.5s ease-out 1s landing-pull forwards;
    transform: translateY(200px);
}

@keyframes landing-pull {
    from { transform: translateY(200px);}
    to { transform: translateY(50px);}
}

#landing_page div {
    animation: 0.5s ease-out 1s landing-show forwards;
    transform: translateY(50px);
    opacity: 0;
}

@keyframes landing-show {
    from { transform: translateY(50px);
            opacity: 0;}
    to { transform: translateY(0px);
        opacity: 1;}
}