/* page style*/



main {
    padding-top: 100px;
}

h1 {
    margin-bottom: 20px;
    margin-top: 120px;
    font-size: 7em;
}

.podnaslov {

    margin-top: 10px;
    color: var(--orange);
}

/* cards */

.wrapper {
    margin: 0 auto;
}

.card {
    top: 30px;
    position: sticky;
    padding: 20px 100px;
    padding-top: 100px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card figure {
    max-width: 350px;
    height: fit-content;
    margin: 0;
}

.card h2 {
    font-size: 2em;
    padding: 0;
    margin: 10px 0;
    color: var(--lightest);
}

.card p {
    margin: 1em 0;
    font-size: 18px;
}
.card div {
    padding-bottom: 3em;
}

.card:nth-child(1n) {
    top: 0;
    padding-top: 30px;
}
.paddedp p {
    max-width: 30rem;
    margin: 4em auto !important;
}
#firstcard {
    align-items: flex-start;
}

.card:nth-child(2n) {
    background: var(--light);
}
.card:nth-child(3n) {
    background: var(--medium);
}


/* Tablet */
@media only screen and (max-width: 1000px) {
    .card{
        flex-direction: column;
        justify-content: start;
    }

    .card figure {
        max-width: 90%;
        height: fit-content;
    }
    .card div {
        padding-bottom: 0;
    }

    h1{
        font-size: 5em;
    }

    .paddedp p {
        max-width: 30rem;
        margin: 10vh auto !important;
    }
}