main {
    background-image: url("../pictures/bgd.webp");
    background-size: 110vw;
    background-repeat: no-repeat;
}
h1 {
    margin: 3em 1em 20px 80px;
    display: block;
}

p {
    max-width: 50rem;
    margin: 20px 4.5em;
}

.left-column {
    display: flex;
    flex-direction: column;
    width: fit-content;
}
