main {
    background-image: url("../pictures/bgd.webp");
    background-size: 110vw;
    background-repeat: no-repeat;
}
h1 {
    margin: 3em 1em 20px max(100px, 10vw);
    display: block;
}

p {
    max-width: 45rem;
    margin: 20px 20px 20px max(100px, 10vw);
}

.left-column {
    display: flex;
    flex-direction: column;
    width: fit-content;
}
